Python Exercises/flask-madlibs/venv/
Python Exercises/flask-survey/venv/
Python Exercises/flask-survey/__pycache__/
Python Exercises/flask-boggle/venv/
Python Exercises/flask-boggle/__pycache__/
SQL/flask-blogly/venv
SQL/flask-blogly/__pycache__
Python Exercises/flask-adopt/venv/
Python Exercises/flask-adopt/__pycache__/
Python Exercises/flask-cupcakes/venv/
Python Exercises/flask-cupcakes/__pycache__/
Python Exercises/flask-feedback/venv/
Python Exercises/flask-feedback/__pycache__/
Python Exercises/warbler/venv/
Python Exercises/warbler/__pycache__/
Python Exercises/warbler/passwords.py
Node/node-files/new.txt
Node/node-files/node_modules/
Node/node-markov/node_modules/
Node/Express-routing-exercise/node_modules/
JS Exercises/memory-game/aaron-mancini.github.io/
Node/Express-shopping-list/node_modules/
Node/express-biztime/node_modules/
Node/express-biztime/db.js
