Python Exercises/flask-madlibs/venv/
Python Exercises/flask-survey/venv/
Python Exercises/flask-survey/__pycache__/
Python Exercises/flask-boggle/venv/
Python Exercises/flask-boggle/__pycache__/
SQL/flask-blogly/venv
SQL/flask-blogly/__pycache__
Python Exercises/flask-adopt/venv/
Python Exercises/flask-adopt/__pycache__/