body {
    background-color: black;
    text-align: center;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

iframe {
    margin: 10px;
}

form {
    display: inline-block;
    margin-bottom: 10px;
}

button {
    border-width: 0;
    border-radius: 5%;
}

#submit {
    background-color: teal;
    padding: 5px;
}

#remove {
    background-color: red;
    color: white;
    padding: 5px;
}